<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing CheckboxTest and RadioButtonsTest">
    <test name="Regression" thread-count="2" parallel="tests">
        <groups>
            <define name="all">
                <include name="FrontEnd" />
                <include name="BackEnd" />
            </define>
            <run>
                <include name="all"/>
            </run>
        </groups>
        <classes>
            <class name="RadioButtonTests"/>
            <class name="CheckboxTests"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->